#mines {
    position:relative;
    top:30px;
    left:30px;
    background-color: #BCC2C6;
    text-align: center;
    line-height: 30px;
    color:white;
    margin-left: auto;
    margin-right: auto;
}
#mines div {
    height: 30px;
    width: 30px;
    background-color: #7e8b8c;
    
}

#reload {
    position: relative;
    /*top: 5px;*/
    /*left: 30px;*/
    /*height: 50px;*/
    /*width: 50px;*/
    width: 70px;
    background-color: #BCC2C6;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*line-height: 50px;*/
}

/*#mines .row0 {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*}*/

/*#mines .row1 {*/
/*    position: absolute;*/
/*    top: 70px;*/
/*}*/

/*#mines .row2 {*/
/*    position: absolute;*/
/*    top: 130px;*/
/*}*/

/*#mines .row3 {*/
/*    position: absolute;*/
/*    top: 190px;*/
/*}*/

/*#mines .row4 {*/
/*    position: absolute;*/
/*    top: 250px;*/
/*}*/

/*#mines .column0 {*/
/*    position: absolute;*/
/*    left: 10px;*/
/*}*/

/*#mines .column1 {*/
/*    position: absolute;*/
/*    left: 70px;*/
/*}*/

/*#mines .column2 {*/
/*    position: absolute;*/
/*    left: 130px;*/
/*}*/

/*#mines .column3 {*/
/*    position: absolute;*/
/*    left: 190px;*/
/*}*/

/*#mines .column4 {*/
/*    position: absolute;*/
/*    left: 250px;*/
/*}*/