#mines {
    position:relative;
    top:30px;
    left:30px;
    background-color: #BCC2C6;
    text-align: center;
    line-height: 30px;
    color:white;
    margin-left: auto;
    margin-right: auto;
}
#mines div {
    height: 30px;
    width: 30px;
    background-color: #7e8b8c;
}

#reload {
    position: relative;
    /*top: 5px;*/
    /*left: 30px;*/
    /*height: 50px;*/
    /*width: 50px;*/
    width: 70px;
    background-color: #BCC2C6;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*line-height: 50px;*/
}

.dialouge{
    position:absolute;
    left: 600px;
    top: 100px;
    margin-left:auto;
    margin-right:auto;
    height:145px;
    width:250px;
    border: solid 1px;
    visibility: hidden;
}